
/**/
/* font */
/**/
/**/
/* defaults */
/**/

.row {
	width: 100%;
}

.sky-form section {
margin-bottom: 2em;


position: relative;
}

.sky-form .s1 {
	width: 49%;
}
.sky-form .textarea {
	width: 100%;
	float: left;
	margin-bottom: 1em;
}
.sky-form .s2 {

	float:right;
	display: table;
	width: 49%;

}



.sky-form a {
color:#2da5da;
}




.sky-form .select,
.sky-form .textarea,
.sky-form .radio,
.sky-form .checkbox,
.sky-form .toggle,
.sky-form .button {
position:relative;


}

.sky-form .input input,.sky-form .select select,.sky-form .textarea textarea {
display:center;
box-sizing:border-box;
-moz-box-sizing:border-box;
width:100%;
height:39px;
padding:6px 10px;
outline:none;
border-width:2px;
border-style:solid;
border-radius:0;


color:#000;
appearance:normal;
-moz-appearance:none;
-webkit-appearance:none;
}



/**/
/* textareas */
/**/
.sky-form .textarea textarea {
height:auto;
resize:vertical;
}

.sky-form .textarea-resizable textarea {
resize:vertical;
}

.sky-form .textarea-expandable textarea {
height:auto;
}

.sky-form .textarea-expandable textarea:focus {
height:auto;
}

/**/
/* icons */
/**/
.sky-form .icon-append,.sky-form .icon-prepend {
position:absolute;
top:5px;
width:29px;
height:29px;
font-size:15px;
line-height:29px;
text-align:center;

}




.sky-form .icon-append {
right:5px;
padding-left:3px;
border-left-width:1px;
border-left-style:solid;
}

.sky-form .icon-prepend {
left:5px;
padding-right:3px;
border-right-width:1px;
border-right-style:solid;
}

.sky-form .input .icon-prepend + input,.sky-form .textarea .icon-prepend + textarea {
padding-left:46px;
}

.sky-form .input .icon-append + input,.sky-form .textarea .icon-append + textarea {
padding-right:46px;
}

.sky-form .input .icon-prepend + .icon-append + input,
.sky-form .textarea .icon-prepend + .icon-append + textarea {
padding-left:46px;
}
/**/
/* normal state */
/**/
.sky-form .input input,
.sky-form .select select,
.sky-form .textarea textarea,
.sky-form .radio i,.sky-form .checkbox i,
.sky-form .toggle i,.sky-form .icon-append
.sky-form .icon-prepend {
border-color:#e5e5e5;
-ms-transition:border-color .3s;
-moz-transition:border-color .3s;
-webkit-transition:border-color .3s;
}

.sky-form .toggle i:before {
background-color:#2da5da;
}





.sky-form .icon-append,.sky-form .icon-prepend {
color:rgba(0,0,0, 0.1);
}

/**/
/* hover state */
/**/
.sky-form .input:hover input,
.sky-form .select:hover select,
.sky-form .textarea:hover textarea,
.sky-form .radio:hover i,
.sky-form .checkbox:hover i,
.sky-form .toggle:hover i,
.sky-form .ui-slider-handle:hover {
border-color:#8dc9e5;
}

.sky-form .rating input + label:hover,
.sky-form .rating input + label:hover ~ label {
color:#2da5da;
}

.sky-form .button:hover {
opacity:1;
}

/**/
/* focus state */
/**/
.sky-form .input input:focus,
.sky-form .select select:focus,
.sky-form .textarea textarea:focus,
.sky-form .radio input:focus + i,
.sky-form .checkbox input:focus + i,
.sky-form .toggle input:focus + i {
border-color:#2da5da;
}

/**/
/* checked state */
/**/
.sky-form .radio input + i:after {
background-color:#2da5da;
}

.sky-form .checkbox input + i:after {
color:#2da5da;
}

.sky-form .radio input:checked + i,
.sky-form .checkbox input:checked + i,
.sky-form .toggle input:checked + i {
border-color:#2da5da;
}

.sky-form .rating input:checked ~ label {
color:#2da5da;
}

/**/
/* error state */
/**/
.sky-form .state-error input,
.sky-form .state-error select,
.sky-form .state-error textarea,
.sky-form .radio.state-error i,
.sky-form .checkbox.state-error i,
.sky-form .toggle.state-error i {
background:#fff0f0;
}

.sky-form .state-error select + i {
background:#fff0f0;
box-shadow:0 0 0 12px #fff0f0;
}

.sky-form .toggle.state-error input:checked + i {
background:#fff0f0;
}

.sky-form .state-error + em {
display:block;
margin-top:.5em;
padding:0 1px;
font-style:normal;
font-size:13px;
line-height:15px;
color:#ee9393;
}

.sky-form .rating.state-error + em {
margin-top:-4px;
margin-bottom:4px;
}

/**/
/* success state */
/**/
.sky-form .state-success input,
.sky-form .state-success select,
.sky-form .state-success textarea,
.sky-form .radio.state-success i,
.sky-form .checkbox.state-success i,
.sky-form .toggle.state-success i {
background:#F0FFF0;
}

.sky-form .state-success select + i {
background:#f0fff0;
box-shadow:0 0 0 12px #f0fff0;
}

.sky-form .toggle.state-success input:checked + i {
background:#f0fff0;
}

.sky-form .state-success + em {
display:block;
margin-top:6px;
padding:0 1px;
font-style:normal;
font-size:11px;
line-height:15px;
color:#ee9393;
}

.sky-form .note-success {
color:#6fb679;

}

/**/
/* submited state */
/**/
.sky-form .message {
display:none;
color:#6fb679;
margin: 5em 0em;
}

.sky-form .message i {
display:block;
margin:0 auto 20px;
width:81px;
height:81px;
border:1px solid #6fb679;
border-radius:50%;
font-size:30px;
line-height:81px;
}

.sky-form.submited fieldset,.sky-form.submited footer {
display:none;
}

.sky-form.submited .message {
display:block;
padding:25px 30px;
text-align:center;
}

/**/
/* bootstrap compatibility */
/**/
.sky-form *,.sky-form :after,.sky-form :before {
margin:0;
padding:0;
box-sizing:content-box;
-moz-box-sizing:content-box;
}


.sky-form .radio,.sky-form .checkbox {
font-weight:400;
}

.sky-form .radio + .radio,.sky-form .checkbox + .checkbox {
margin-top:0;
}